
#header
  #headerboxa
    = nice_date DateTime.now
  #headerboxa
    = image_tag 'blank.png', :height => "100"
  #headerboxb
    %h1 BEERS ON TAP
%br

%table.beers-table
  %thead
    %tr.light
      %th
      %th NAME
      %th INFO
      %th{ :style => "border-right: none;" } STATUS

  %tbody
    - @beers.each_with_index do |beer, index|
      %tr{ :class => index % 2 == 0 ? "dark" : "light"}
        %td.beer-pic
          = get_srm_image beer
        %td.beer-style
          %h1= beer.name
          %h2= beer.style
          blah blah add a description here
        %td.beer-info
          %h2= "#{beer.abv}% ABV"
          %h2= "#{beer.ibu}% IBU"
          = get_hop_image beer
        %td.beer-status{ :style => "border-right: none;" }
          = get_status_image beer
        
#footer
  Jason & Kevin Phelps


