
#header
  #headerboxa
    = nice_date DateTime.now
  #headerboxa
    = image_tag 'blank.png', :height => "100"
  #headerboxb
    %h1 BEERS ON TAP
%br

%table.beers-table
  %thead
    %tr.light
      %th
      %th NAME
      %th INFO
      %th{ :style => "border-right: none;" } STATUS

  %tbody
    - @beers.each_with_index do |beer, index|
      %tr{ :class => index % 2 == 0 ? "dark" : "light"}
        %td.beer-pic
          = image_tag "SRM #{beer.srm}.png", :height => "150"
        %td.beer-style
          %h1= beer.name
          %h2= beer.style
          blah blah add a description here
        %td.beer-info
          %h2= "#{beer.abv}% ABV"
          %h2= "#{beer.ibu}% IBU"
          = image_tag "2 Hops.png", :width => "200px"
        %td.beer-status{ :style => "border-right: none;" }
          = image_tag "kegs/0.png", :width => "80px"
        
#footer
  Jason & Kevin Phelps


