
#header
  %h1 
    BEERS ON TAP
    %small
      %br
      = nice_date DateTime.now
%br

%table.beers-table
  %thead
    %tr.light
      %th
      %th NAME
      %th INFO
      %th STATUS

  %tbody
    - @beers.each_with_index do |beer, index|
      %tr{ :class => index % 2 == 0 ? "dark" : "light"}
        %td.beer-pic
          = get_srm_image beer
        %td.beer-style
          %h1= beer.name
          %h2= beer.style
          blah blah add a description here
        %td.beer-info
          %h2= "#{beer.abv}% ABV"
          %h2= "#{beer.ibu} IBU"
          = get_hop_image beer
        %td.beer-status
          = get_status_image beer
        
#footer
  Jason & Kevin Phelps


